package az.aldoziflaj.popmovies;

public final class Config {

    public static final String API_KEY = "YOUR-API-KEY";
    public static final String API_BASE_URL = "http://api.themoviedb.org/3/discover/movie";
    public static final String IMAGE_BASE_URL = "http://image.tmdb.org/t/p/";

}
