package az.aldoziflaj.popmovies;

import com.google.gson.annotations.SerializedName;

import java.util.List;

public final class Config {

    public static final String API_KEY = "YOUR_API_KEY";
    public static final String API_BASE_URL = "http://api.themoviedb.org/3";
    public static final String IMAGE_BASE_URL = "http://image.tmdb.org/t/p/";

    public class ApiResponse {
        @SerializedName("results")
        List<Movie> movieList;

        public List<Movie> getMovieList() {
            return movieList;
        }
    }
}
